.title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.error-label {
    -fx-text-fill: red;
}

.text-field, .password-field {
    -fx-pref-width: 300px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
    -fx-padding: 8px;
}

.button:hover {
    -fx-background-color: #45a049;
}
